{% extends "base.html.twig" %}

{% block body %}
    <style>
        .soc-panel {

            width: 150px;
            height: 70px;
            margin-top: 30px;
            margin: 0 auto;
            border-radius: 15px;
        }
        a:hover {
            color: #218BC3;
        }
        a  {
            color: #000;
            text-decoration: none;
        }
        .soc
        {
            font-size: 40px;
        }
        span a {
            color: #218BC3;
        }

    </style>
<div class="col-md-6">
    <h2 class="text-center">Login</h2>
    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_user_name }}">
        </div>
        <div class="form-group">
            <label for="username">Password:</label>
            <input class="form-control" type="password" id="password" name="_password">
            </div>

        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <div class="soc-panel">
        <a class="soc" href=""><i class="fab fa-facebook-square"></i></a>
        <a class="soc" href=""><i class="fab fa-google"></i></a>
    </div>
    <span>Not account yet:<a href="/register">Create new account</a></span>
    </div>

    {% if error %}
        <hr>
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
{% endblock %}
